<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,400;1,700&display=swap" rel="stylesheet">
    <title>Full Stack App</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
    <nav>
        <div class="icon nav-icon-3">
        <span></span>
        <span></span>
        <span></span>
         </div>
         <ul class="hidden" >
            <a href="/fitness"><li>Fitness</li></a>
            <a href="/work"><li>Work</li></a>
            <a href="/school"><li>School</li></a>
            <a href="/hype"><li>Hype</li></a>
         </ul>

    </nav>
    <div class="container">
        <h1>Your motivational quote for today:</h1>
        <div id="quote">
            <p class = "quote hide"><%= info[0].quote %></p>
            <span class = "name hide"><%= info[0].author %></span>
        </div>
        <button id="main">Go Get</button>
    </div>
</body>
<script src="/js/main.js" type="text/javascript"></script>
</html>